# the posiible byproduct directory
.idea
.vscode
build
bin
lib
cmake-build-debug
cmake-build-release
cmake-build-debug-coverage
output

# the config directory

# the test directory

# the model directory